* {
    text-align: center;
}

form {
    border: 2px dotted rgba(0, 0, 0, 0.658);
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 8px;
    max-width: 400px;
    margin: 2rem auto;
    padding: 20px;
}

.formContent img {
    width: 10%;
    right: 40%;
    left: 40%;
}

input {
    margin-bottom: 10px;
}

.formContent textarea {
    word-wrap: break-word;
}

button {
    border-color: #1277d6;
    border-style: solid;
    border-radius: 3px;
    color: white;
    background-color: #1277d6;
}

form button:hover {
    transform: scale(1.1);
}