/*common css styles*/

/* Responsive Design */
/* Media Query for tablets and above */
@media (min-width: 768px) {
    nav {
        font-size: 0.9rem;
    }

    h1 {
        font-size: 2rem;
    }

    main {
        padding: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}

/* Media Query for desktops */
@media (min-width: 1024px) {
    nav {
        font-size: 1rem;
    }

    h1 {
        font-size: 3rem;
    }

    main {
        padding: 0.8rem;
    }

    h2 {
        font-size: 2rem;
    }
}

/* Media Query for mobile devices */
@media (max-width: 480px) {
    nav a {
        /* Full width on small screens */
        flex: 1 1 100%;
    }

    nav {
        display: flex;
        /* Allows items to stack */
        flex-wrap: wrap;
    }

    main {
        padding: 0.8rem;
    }
}

/*specific fonts using google fonts*/
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    text-align: right;
    padding: 10px;
    background-color: beige;
}

nav a {
    margin-right: 25px;
}

nav a:hover {
    text-decoration: underline;
}

a[href] {
    color: #555255;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    bottom: 0;
    font-size: 0.9rem;
}

/*home page css styles*/

.homeh1 {
    color: #00000079;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.mePara {
    margin: 20px;
    padding: 10px;
    background-color: rgb(120, 127, 128);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(120, 127, 128);
}

.mePara::first-letter {
    font-size: 1.5em;
    font-weight: bold;
}

.meImg {
    display: flex;
}

.me {
    padding: 0.5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 245px;
    border-radius: 50%;
}


.homeBody {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.homeMain {
    flex: 1;
    padding: 0 100px 0 100px;
}

.icons {
    width: 32px;
    height: 32px;
    margin-left: 10px;
}

.msg a img {
    width: 50px;
    height: 50px;
    float: right;
    z-index: 1000;
}

/*CSS styles for about page*/

/*basic styles*/
.aboutBody {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}

.aboutHeader {
    /*add both rgb and rgba to support old browers*/
    background-color: rgb(121, 114, 106);
    background-color: rgba(121, 114, 106, 0.8);
    padding: 1rem 0;
    text-align: center;
}

.abouth1 {
    margin: 0;
    font-size: 2.5rem;
}

/* Main content styles */
.aboutMain {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
}

.abouth2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #444;
    border-bottom: 2px solid #e2e2e2;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.aboutul {
    list-style: none;
    padding: 0;
}

.aboutul li {
    background: #e2e2e2;
    margin: 0.5rem 0;
    padding: 0.8rem;
    border-radius: 5px;
    box-shadow: 5px 5px #d6d3d3af;
}

.aboutul li:nth-child(odd) {
    background: #d0d0d0;
}

/*CSS styles for projects page*/
.projectsh4 {
    text-decoration: underline;
}

.proImg {
    width: 40%;
    height: auto;
    border-radius: 5px;
}

article {
    border: 0.01cm solid rgb(0, 0, 0);
    border: 0.01cm solid rgba(0, 0, 0, 0.295);
}

article p {
    word-break: keep-all;
}

.flexContainer {
    display: flex;
    /* Enable Flexbox */
    justify-content: space-between;
    /* Space between items */
    align-items: center;
    /* Center items vertically */
    padding: 20px;
    flex-wrap: wrap;
    /* Allow items to wrap */
    border-radius: 2%;
    text-align: justify;
}

.flexItem {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.904);
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0.753);
    padding: 20px;
    margin: 10px;
    flex: 1 1 200px;
    /* Grow and shrink with a base width of 200px */
    text-align: center;
    border-radius: 5px;
}

.flexItem a {
    color: rgb(93, 93, 190);
}

.flexItem a:hover {
    transform: scale(1.1);
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

a[target] {
    color: #1277d6;
}

time[datetime] {
    font-style: italic;
}

.msg a img {
    width: 50px;
    height: 50px;
    float: right;
    z-index: 1000;
}

/*CSS styles for feedback page*/
.feedbackBody {
    text-align: center;
}

form {
    border: 2px dotted rgb(0, 0, 0);
    border: 2px dotted rgba(0, 0, 0, 0.658);
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    max-width: 400px;
    margin: 2rem auto;
    padding: 20px;
}

.formContent img {
    width: 10%;
    right: 40%;
    left: 40%;
}

input {
    margin-bottom: 10px;
}

.formContent textarea {
    word-wrap: break-word;
}

button {
    border-color: #1277d6;
    border-style: solid;
    border-radius: 3px;
    color: white;
    background-color: #1277d6;
}

form button:hover {
    transform: scale(1.1);
}