/*common css styles*/


/*Roboto font regular weight - google fonts*/
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*Style the navigation bar*/
nav {
    text-align: center;
    padding: 10px;
    background-color: beige;
}

nav a {
    margin-right: 25px;
}

/* hover effects on navigation links */
nav a:hover {
    font-weight: bold;
}

a[href] {
    color: #555255;
}

a:visited {
    color: rgb(153, 52, 131);
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    bottom: 0;
    font-size: 0.9rem;
}

/*home page css styles*/
.homeBody {
    background-color: rgb(49, 51, 51);
    background-color: rgba(49, 51, 51, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* show the Specificity */
h1 {
    color: #d31919;
}

.homeh1 {
    color: aqua;
}

#homeh1 {
    color: #00000079;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.homeBody h2::first-letter {
    font-size: 1.4em;
    font-weight: bold;
}

.homeMain {
    flex: 1;
}

.meImg img {
    display: flex;
    justify-content: center;
    transition: all 0.5s ease;
}

/* hover effects on image will make the image round */
.meImg img:hover {
    border-radius: 50%;
}

/* Style the image wrapper */
.me {
    padding: 0.5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 245px;
    border-radius: 25%;
}


.mePara {
    margin: 5%;
    padding: 2%;
    /* add rgb values for old version of browers */
    background-color: rgb(15, 15, 15);
    background-color: rgba(15, 15, 15, 0.5);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(120, 127, 128);
}

.mePara::first-letter {
    font-size: 4em;
    font-weight: bold;
}

/* Keyframes for moving animation */
@keyframes move {
    0% {
        transform: translateX(-400px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateX(400px)
    }
}

/* apply animation to the laptop icon */
.mePara .laptop {
    animation: move 6s infinite;
}

.icons {
    width: 32px;
    height: 32px;
    margin-left: 10px;
}

.msg a img {
    width: 50px;
    height: 50px;
    float: right;
    z-index: 1000;
}


/*CSS styles for about page*/

/*basic styles*/
.aboutBody {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}

header {
    color: #09335a
}

.aboutHeader {
    color: #f4f4f4;
    /*add both rgb and rgba to support old browers*/
    background-color: rgb(121, 114, 106);
    background-color: rgba(121, 114, 106, 0.8);
    padding: 1rem 0;
    text-align: center;
}

/* Main content styles */
.aboutMain {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
}

.abouth2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #444;
    border-bottom: 2px solid #e2e2e2;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.aboutul {
    list-style: none;
}

.aboutMain li {
    background-color: #cf1f1f;
}

/* Relational selectors */
.aboutMain li+li {
    font-style: italic;
}

/* style li elements using child combinator */
ul>li {
    text-align: left;
}

.aboutul li {
    background: #e2e2e2;
    margin: 0.5rem 0;
    padding: 0.8rem;
    border-radius: 5px;
    box-shadow: 5px 5px #d6d3d3af;
}

.aboutul li:nth-child(odd) {
    background: #d0d0d0;
}

/*Add gradient background for specific h2 element*/
.aboutMain section h2:not(.abouth2) {
    background-image: linear-gradient(rgba(23, 23, 24, 0.801), rgb(205, 215, 219));
}

/*CSS styles for projects page*/
.projectsh4 {
    text-decoration: underline;
}

.proImg {
    width: 40%;
    height: auto;
    border-radius: 5px;
}

article {
    border: 0.01cm solid rgb(0, 0, 0);
    border: 0.01cm solid rgba(0, 0, 0, 0.295);
}

article p {
    word-break: keep-all;
}

.project1 ol li:nth-child(odd) {
    text-align: left;
}

.project1 ol li:nth-child(even) {
    text-align: left;
}

article p:first-of-type {
    font-weight: 200;
}

.flexContainer {
    display: flex;
    /* Enable Flexbox */
    justify-content: space-between;
    /* Space between items */
    align-items: center;
    /* Center items vertically */
    padding: 20px;
    flex-wrap: wrap;
    /* Allow items to wrap */
    border-radius: 2%;
    text-align: justify;
}

.flexItem {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.904);
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0.753);
    padding: 20px;
    margin: 10px;
    /* Grow and shrink with a base width of 200px */
    flex: 1 1 200px;
    text-align: center;
    border-radius: 5px;
}

.project1 p:first-child {
    text-align: left;
}

.flexItem a {
    color: rgb(93, 93, 190);
}

.flexContainer article:first-child {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.856);
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

a[target] {
    color: #1277d6;
}

article>p>a {
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.time::before {
    content: "Timeline: ";
    font-weight: bold;
    color: #ffffff;
}

time[datetime] {
    font-style: italic;
}

article>time {
    font-size: small;
}


.msg a img {
    width: 50px;
    height: 50px;
    float: right;
    z-index: 1000;
}

/* hover effects for the msg icon */
.msg a img:hover {
    transform: rotate(45deg);
}

/*CSS styles for feedback page*/
.feedbackBody {
    text-align: center;
}

/* Keyframes for bouncing animation */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
        /* Start and end at the original position */
    }

    20% {
        transform: translateY(15px);
        /* Move up */
    }

    40% {
        transform: translateX(20px);
        /* Move right*/
    }

    60% {
        transform: translateY(-20px)
            /*move down*/
    }

    80% {
        transform: translateX(-20px);
        /*move left*/
    }
}

/* Apply bounce animation */
.feedbackBody h3 {
    animation: bounce 3s infinite;
}

/* Style the form */
form {
    border: 2px dotted rgb(0, 0, 0);
    border: 2px dotted rgba(0, 0, 0, 0.658);
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.9);
    background-image: conic-gradient(rgba(230, 149, 149, 0.863), rgb(247, 247, 99),
            rgb(87, 236, 87), rgb(85, 206, 243), rgb(161, 156, 156));
    border-radius: 8px;
    max-width: 400px;
    margin: 2rem auto;
    padding: 20px;
}

.formContent img {
    width: 10%;
    right: 40%;
    left: 40%;
}

input {
    margin-bottom: 10px;
}

input:checked {
    height: 16px;
    width: 16px;
}

input[type=text]:enabled {
    background-color: #00000036;
    color: #ffffff;
}

div input:valid {
    border-color: rgb(53, 226, 53);
}

div input:invalid {
    border-color: red;
}

.formContent textarea {
    word-wrap: break-word;
}

.formContent label:not(.message) {
    font-weight: 450;
}


div~label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Style the submit button */
button {
    border-color: #0a5091;
    border-style: solid;
    border-radius: 3px;
    color: white;
    background-color: #09335a;
    transition: opacity 0.5s ease;
}

/* Add hover effect for the submit button */
form button:hover {
    transform: scale(1.5);
    opacity: 0.8;
}